
.form-group {
    margin-bottom: 10px;
}

.form-control {
    padding: 20px;
}

.btn {
    margin-top: 15px;
}

/* Reducción del tamaño del formulario en pantallas pequeñas */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}
