#navigation *{
    color: #109196;
    font-family: 'Fair Prosper';
    font-size: 25px;
    }
#navigation * :hover{
        color: #520404;
    }
#navbarNav *{
color: #109196;
font-family: 'times new roman';
font-size: 20px;

}
#navbarNav * :hover{
    color: #520404;
}
.text-centre {
font-family: 'Chaprile Calligraphy';
color: #16bac0;
font-size: 5rem;

}
.text-center {
    font-family: 'times new roman';
    color: #16bac0;
    font: size 200px;
}
.t { font-family: 'Times New Roman', Times, serif;
    color: #520404;
    text-align: center;
    font-size: 18px;
}
.firma {
    text-align: right;
    margin-top: 50px;
    font-family: 'Chaprile Calligraphy';
    color:#16bac0;
    font-size: 50px;
}

.list-group a {
    color: #16bac0;
}
/* Centrar el contenedor principal */
.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
}
h1, h3 {
    color: #333;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f8f8f8;
}

/* Contenedor para las imágenes superpuestas, centrado y agrandado */
.image-container {
    position: relative;
    width: 600px; /* Aumentar tamaño del contenedor */
    height: 450px; /* Aumentar tamaño del contenedor */
    margin: 0 auto; /* Asegurar que esté centrado */
}

/* Imágenes superpuestas */
.superposed-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 3s ease-in-out; /* Suavizar la transición */
}

#bnImage {
    z-index: 1;
    opacity: 1;
}

#colorImage {
    z-index: 0;
    opacity: 0; /* Inicialmente invisible */
}

/* Cambia la opacidad de las imágenes cuando el ratón pasa por encima */
.image-container:hover #bnImage {
    opacity: 0.1; /* Imagen blanco y negro casi invisible */
}

.image-container:hover #colorImage {
    opacity: 1; /* Imagen en color completamente visible */
}

/* Fondo de todas las páginas */
body {
    background-image: url('../image/image_proyecto.jpg');
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
    margin: 0;
    padding: 0;
    
}




/* Estilo para el botón de comenzar */
.btn-comenzar {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}


/* Estilo para el pie de página */

footer { 
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #109196;
    width: 100%;
    bottom: 0;
    position:fixed;
}
footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    text-decoration: none;
    color: rgb(82, 2, 2);

}
